VITE_AUTHENTICATOR_API_BASE_URL=https://authenticator.techelecon.in/

# Optional remote module URLs.
# If koi value aapi devashe to shell internal route na badle aa deployed app URL kholse.
VITE_ADVANCE_VOUCHER_APP_URL=
VITE_PURCHASE_ORDER_APP_URL=
VITE_SUPPLIER_PORTAL_APP_URL=
VITE_WAREHOUSE_APP_URL=
VITE_HR_MANAGEMENT_APP_URL=
VITE_ORDER_TRACKING_APP_URL=
VITE_BARCODE_APP_URL=
VITE_EVIDANCE_APP_URL=
VITE_MONITORING_APP_URL=
VITE_AUTHENTICATOR_APP_URL=
VITE_SOPS_APP_URL=
